@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.woff2') format('woff2'),
         url('../fonts/Montserrat/Montserrat-VariableFont_wght.woff') format('woff'),
         url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.woff2') format('woff2'),
         url('../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.woff') format('woff'),
         url('../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

body {
    width: 1440px;
    height: 2284px;
    background-color: #FFFFFF;
}

.container_header {
    display: flex;
    align-items: center;
    width: 1440px;
    height: 76px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #EEF5FB;
}

.logo {
    display: flex;
    width: 120px;
    height: 40px;
    background-color: #FFFFFF;
    border: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    font-weight: 700;
    color: #000000;
}

.container_header .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-left: 51px;
    border: none;
}

.container_header .navigation_item {
    display: flex;
    text-decoration: none;
    align-self: center;
    justify-items: center;
    font-family: 'Montserrat';
    color: #333333;
    font-size: 14px;
    font-weight: 500; 
    
}

.navigation_item_arrow {
    margin-left: 4px;
}

.header_buttons {
    display: flex;
    gap: 15px;
    margin-left: auto;
}

.button_search {
    display: flex;
    width: 230px;
    height: 48px;
    margin-top: 14px;
    margin-right: 140px;
    border: none;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-left: auto;
    padding: 14px 20px 14px 20px;
    gap: 10px;
    background-color: #E3F5F5;
    color: #03B2A5;
    font-family: 'Montserrat';
}

.container_navigation {
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat';
    font-size: 12px;
    width: 110px;
    height: 18px;
    margin-top: 16px;
    margin-left: 40px;
    gap: 8px;
    color: rgba(51, 51, 51, 0.7);
}

.container_page_name {
    display: flex;
    flex-direction: row;
    font-size: 48px;
    font-weight: 700;
    font-family: 'Montserrat';
    margin-left: 40px;
    margin-top: 30px;
}

.container_navigation_articles ul {
    display: flex;
    flex-direction: row;
    width: 1181px;
    height: 32px;
    list-style: none;
    margin-top: 32px;
}

.container_navigation_articles ul li {
    display: flex;
    padding-right: 8px;
}

.content_string_1 {
    display: flex;
    flex-direction: row;
}


.content_string_1.first_img_txt,
.content_string_2.first_img_txt {
    display: flex;
    position: relative;
    flex-direction: column;
    border: rgba(255, 255, 255, 1) 1px;
    width: 588px;
    height: 260px;
    margin-left: 40px;
   
}

.content_string_1.first_img_txt img,
.content_string_2.first_img_txt img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.content_string_1.first_img_txt img:nth-child(1),
.content_string_2.first_img_txt img:nth-child(1),
.content_string_3.first_img_txt img:nth-child(1)
 {
    position: absolute;
    top: 8px;
    left: 8px;
}

.content_string_1.first_img_txt img:nth-child(2) {
    position: absolute;
    top: 48px;
    left: 8px; 
}

.content_string_1.first_txt,
.content_string_1.second_txt {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
    border: solid rgba(222, 222, 222, 1) 1px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.content_string_1.first_txt h1,
.content_string_1.second_txt h1,
.content_string_3.second_txt h1,
.content_string_3.theird_txt h1 {
    display: flex;
    padding-left: 16px;
    font-family: 'Montserrat';
    font-weight: 700px;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0%;
    color: rgba(51, 51, 51, 1);
}

.content_string_1.first_txt h3,
.content_string_1.second_txt h3,
.content_string_3.second_txt h3,
.content_string_3.theird_txt h3 {
    display: flex;
    padding-left: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: rgba(73, 73, 73, 1);
}

.content_string_1.first_txt h2,
.content_string_1.second_txt h2,
.content_string_3.second_txt h2,
.content_string_3.theird_txt h2 {
    display: flex;
    padding-left: 16px;
    font-family: 'Montserat';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    color: rgba(51, 51, 51, 1);
}

.string_2 {
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 475px;
    margin-left: 45px;
    margin-top: 254px;
    margin-bottom: 24px;
    gap: 24px;
}

.string_3 {
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 475px;
    margin-left: 45px;
    margin-top: 0;
    gap: 24px;
}


/* Иконки - абсолютное позиционирование */
.content_string_3.first_img_txt img:nth-child(1) {
    display: flex;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 2;
}

.content_string_3.first_img_txt img:nth-child(2) {
    display: flex;
    position: absolute;
    top: 10px;
    left: 0px;
    z-index: 2;
}

.string_2 > .content_string_3.first_img_txt img:nth-child(2) {
    display: flex;
    position: absolute;
    top: 48px;
    left: 8px;
    z-index: 2;
}

.content_string_3.second_img_txt img:nth-child(1) {
    display: flex;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 2;
}


.content_string_3.first_img_txt img:last-of-type {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    margin-top: 0;
}

.string_3 > .content_string_3.first_img_txt img:last-of-type {
    margin-top: -8px;
    margin-bottom: -8px;
}

.content_string_3.second_img_txt img:last-of-type {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
}

.content_string_3.theird_img_txt img:nth-child(1) {
    display: flex;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 2;
}

.content_string_3.theird_img_txt img:last-of-type {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
}

.string_2 > .content_string_3 img:last-of-type,
.string_3 > .content_string_3 img:last-of-type {
    width: 384px;
    height: 495px;
    object-fit: cover;
}

.content_string_3.theird_img_txt,
.content_string_3.second_img_txt,
.content_string_3.first_img_txt {
    display: flex;
    position: relative;
    flex-direction: column;
    border: rgba(255, 255, 255, 1) 1px;
    width: 384px;
    height: auto;
    min-height: 485px;
}

.content_string_3.second_txt,
.content_string_3.theird_txt {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
    border-left: solid rgba(222, 222, 222, 1) 1px;
    border-right: solid rgba(222, 222, 222, 1) 1px;
    border-bottom: solid rgba(222, 222, 222, 1) 1px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    margin-top: 0;
    padding-bottom: 12px;
}

.button_load_more {
    display: flex;
    width: 182px;
    height: 48px;
    margin-top: 56px;
    margin-left: 529px;
    padding: 12px 16px 12px 16px;
    gap: 8px;
    background-color: rgba(53, 179, 169, 1);
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 24px;
    border-radius: 4px;
}

.footer_container {
    display: flex;
    justify-content: flex-start;
    background-color: #2963A3;
    width: 1300px;
    height: 302px;
    margin-top: 96px;
    padding-left: 120px;
    position: relative;
}



.footer_parent_component {
    display: flex;
    flex-direction: row;
    max-height: 184px;
    margin-top: 40px;
    gap: 0;
    border-bottom: 1px solid rgba(157, 157, 157, 0.3);
    padding-bottom: 35px;
    margin-bottom: 20px;
}

.first_column_links,
.second_column_links {
    max-width: 111px;
    max-height: 184px;
    gap: 16px;
}

.first_column_links h3,
.second_column_links h3 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.first_column_links {
    margin-right: 40px;
}

.second_column_links {
    margin-right: 40px;
}

.email_newsletter_container {
    display: flex;
    flex-direction: column;
    width: 486px;
    gap: 8px;
    margin-right: 81px;
}

.email_form {
    display: flex;
    width: 384px;
    height: 48px;
}

.email_newsletter_container h2 {
    max-width: 356px;
    max-height: 52px;
    gap: 4px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.email_input {
    flex: 1;
    height: 48px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #9d9d9d;
    box-sizing: border-box;
    padding: 12px 16px;
}

.email_submit {
    width: 64px;
    height: 48px;
    border: none;
    border-radius: 0 4px 4px 0;
    background: #16C8BB;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.email_submit img {
    width: 24px;
    height: 24px;
}

.email_newsletter_container h6 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: #FFFFFF;
    margin-top: 4px;
}

.skolkovo_logo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: start;
    margin-top: 20px;
}

.skolkovo_logo img {
    width: 221px;
    height: 50px;
    
}

.skolkovo_logo h2 {
    font-family: 'Montserrat';
    font-size: 28px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 10px;
    margin-left: -55px;
}

.logo_soc {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-left: 0; /* Убедимся, что соцсети не смещены */
}

.logo_soc img {
    width: 24px;
    height: 24px;
}

.other_information {
    display: flex;
    flex-direction: row;
    gap: 25px;
    position: absolute;
    bottom: -13px; 
    left: 120px; 
}

.other_information h6 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}

