<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>YouTalk</title>
</head>
<body>
    <header>
        <div class="container_header">
            <div class="logo">
                <img src="../static/icons/logo.svg" alt="logo">
            </div>
            <div class="navigation">
                <a class="navigation_item" href="#">О нас</a>
                <a class="navigation_item" href="#">Тарифы</a>
                <a class="navigation_item" href="#">Для бизнеса</a>
                <a class="navigation_item" href="#">Психологам</a>
                <a class="navigation_item" href="#">Сертификат</a>
                <a class="navigation_item" href="#">Материалы
                    <img class="navigation_item_arrow" src="../static/icons/arrow_down.svg" alt="arrow_down">
                </a>
                <a class="navigation_item" href="#">FAQ</a>    
            </div>
            <div class="header_buttons">
                <button class="button_search" href="#">Подобрать психолога</button>
            </div>
        </div>
    </header>
    <main>
        <div class="container_navigation">Главная &gt; Блог</div>
        <div class="container_page_name">Блог</div>
        <div class="container_navigation_articles">
            <ul>
                <li><a href="#"><img src="../static/icons/1.svg" alt="Все категории"></a></li>
                <li><a href="#"><img src="../static/icons/2.svg" alt="Самооценка и самопринятие"></a></li>
                <li><a href="#"><img src="../static/icons/3.svg" alt="О себе"></a></li>
                <li><a href="#"><img src="../static/icons/4.svg" alt="Чувства и эмоции"></a></li>
                <li><a href="#"><img src="../static/icons/5.svg" alt="Тревога"></a></li>
                <li><a href="#"><img src="../static/icons/6.svg" alt="Упражнения"></a></li>
                <li><a href="#"><img src="../static/icons/7.svg" alt="Психология питания"></a></li>
                <li><a href="#"><img src="../static/icons/8.svg" alt="Насилие"></a></li>
                <li><a href="#"><img src="../static/icons/9.svg" alt="Личное здоровье"></a></li>
            </ul>
        </div>
        <div class="content_string_1">
            <div class="content_string_1 first_img_txt">
                <img src="../static/icons/1 with_unicorn.svg" alt="Тема самооценка и самопринятие">
                <img src="../static/icons/self_with_unicorn.svg" alt="Тема Self">
                <img src="../static/images/1-1.png" alt="Картинка про эмоциональное выгорание">
                <div class="content_string_1 first_txt">
                    <h1>
                        Эмоциональное выгорание - стадии и симптому,
                        методы восстанорвления и профилактики
                    </h1>
                    <h3>
                        Автор: Лиза Файнтух
                    </h3>
                    <h2>
                        Изначально термин "эмоциональное профессиональной сфере и относился... 
                    </h2>
                    <h3>
                        21.08.2021
                    </h3>
                </div>    
            </div>
            <div class="content_string_2 first_img_txt">
                <img src="../static/icons/self_with_unicorn.svg" alt="Тема Self">
                <img src="../static/images/2-1.png" alt="Картинка про эмоциональное выгорание">
                <div class="content_string_1 second_txt">
                    <h1>
                        Как не утонуть в тревоге и управлять своими страхами
                    </h1>
                    <h3>
                        Автор: Екатерина Бельтюкова
                    </h3>
                    <h2>
                        Один из самых важных навыков, которые может дать работа с 
                        психотерапевтом - умение в разных ситуациях по-разному обходиться... 
                    </h2>
                    <h3>
                        11.08.2021
                    </h3>
                </div>    
            </div>
        </div>
        <div class="string_2">
            <div class="content_string_3 first_img_txt">
                <img src="../static/icons/1 with_unicorn.svg" alt="Тема Самооценка и самопринятие">
                <img src="../static/icons/unicorn_withpsihology_and_eat.svg" alt="Тема пихология и питания">
                <img src="../static/images/1-2.png" alt="Картинка женщина на кровати думает">
                <div class="content_string_3 second_txt">
                    <h1>
                        Эмоциональное выгорание - стадии и симптому, методы восстановления и профилактики
                    </h1>
                    <h3>
                        Автор: Лиза Файнтух
                    </h3>
                    <h2>
                        Изначально термин "эмоциональное профессиональной сфере и относился..."
                    </h2>
                    <h3>
                        21.08.2021
                    </h3>
                </div>   
            </div>
            <div class="content_string_3 second_img_txt">
                <img src="../static/icons/3.svg" alt="Тема Самооценка и самопринятие">
                <img src="../static/images/2-2.png" alt="Картинка женщина на кровати думает">
                <div class="content_string_3 second_txt">
                    <h1>
                        Как не утонуть в тревоге и управлять своими страхами
                    </h1>
                    <h3>
                        Автор: Екатерина Бельтюкова
                    </h3>
                    <h2>
                        Один из самых важных навыков, которые может дать работа с психотерапевтом - умение в разных ситуациях по-разному обходиться ..."
                    </h2>
                    <h3>
                        11.08.2021
                    </h3>
                </div>
            </div>
        </div>
    </main>    
</body>
</html>