<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>YouTalk</title>
</head>
<body>
    <header>
        <div class="container_header">
            <div class="logo">
                <img src="../static/icons/logo.svg" alt="logo">
            </div>
            <div class="navigation">
                <a class="navigation_item" href="#">О нас</a>
                <a class="navigation_item" href="#">Тарифы</a>
                <a class="navigation_item" href="#">Для бизнеса</a>
                <a class="navigation_item" href="#">Психологам</a>
                <a class="navigation_item" href="#">Сертификат</a>
                <a class="navigation_item" href="#">Материалы
                    <img class="navigation_item_arrow" src="../static/icons/arrow_down.svg" alt="arrow_down">
                </a>
                <a class="navigation_item" href="#">FAQ</a>    
            </div>
            <div class="header_buttons">
                <button class="button_search" href="#">Подобрать психолога</button>
            </div>
        </div>
    </header>
    <main>
        <div class="container_navigation">Главная &gt; Блог</div>
        <div class="container_page_name">Блог</div>
        <div class="container_navigation_articles">
            <ul>
                <li><a href="#"><img src="../static/icons/1.svg" alt="Все категории"></a></li>
                <li><a href="#"><img src="../static/icons/2.svg" alt="Самооценка и самопринятие"></a></li>
                <li><a href="#"><img src="../static/icons/3.svg" alt="О себе"></a></li>
                <li><a href="#"><img src="../static/icons/4.svg" alt="Чувства и эмоции"></a></li>
                <li><a href="#"><img src="../static/icons/5.svg" alt="Тревога"></a></li>
                <li><a href="#"><img src="../static/icons/6.svg" alt="Упражнения"></a></li>
                <li><a href="#"><img src="../static/icons/7.svg" alt="Психология питания"></a></li>
                <li><a href="#"><img src="../static/icons/8.svg" alt="Насилие"></a></li>
                <li><a href="#"><img src="../static/icons/9.svg" alt="Личное здоровье"></a></li>
            </ul>
        </div>
        <div class="content_string_1">
            <div class="content_string_1 first_img_txt">
                <img src="../static/icons/1 with_unicorn.svg" alt="Тема самооценка и самопринятие">
                <img src="../static/icons/self_with_unicorn.svg" alt="Тема Self">
                <img src="../static/images/1-1.png" alt="Картинка про эмоциональное выгорание">
                <div class="content_string_1 first_txt">
                    <h1>
                        Эмоциональное выгорание - стадии и симптому,
                        методы восстанорвления и профилактики
                    </h1>
                    <h3>
                        Автор: Лиза Файнтух
                    </h3>
                    <h2>
                        Изначально термин "эмоциональное профессиональной сфере и относился... 
                    </h2>
                    <h3>
                        21.08.2021
                    </h3>
                </div>    
            </div>
            <div class="content_string_2 first_img_txt">
                <img src="../static/icons/self_with_unicorn.svg" alt="Тема Self">
                <img src="../static/images/2-1.png" alt="Картинка про эмоциональное выгорание">
                <div class="content_string_1 second_txt">
                    <h1>
                        Как не утонуть в тревоге и управлять своими страхами
                    </h1>
                    <h3>
                        Автор: Екатерина Бельтюкова
                    </h3>
                    <h2>
                        Один из самых важных навыков, которые может дать работа с 
                        психотерапевтом - умение в разных ситуациях по-разному обходиться... 
                    </h2>
                    <h3>
                        11.08.2021
                    </h3>
                </div>    
            </div>
        </div>
        <div class="string_2">
            <div class="content_string_3 first_img_txt">
                <img src="../static/icons/1 with_unicorn.svg" alt="Тема Самооценка и самопринятие">
                <img src="../static/icons/unicorn_withpsihology_and_eat.svg" alt="Тема пихология и питания">
                <img src="../static/images/1-2.png" alt="Картинка женщина на кровати думает">
                <div class="content_string_3 second_txt">
                    <h1>
                        Эмоциональное выгорание - стадии и симптому, методы восстановления и профилактики
                    </h1>
                    <h3>
                        Автор: Лиза Файнтух
                    </h3>
                    <h2>
                        Изначально термин "эмоциональное профессиональной сфере и относился..."
                    </h2>
                    <h3>
                        21.08.2021
                    </h3>
                </div>   
            </div>
            <div class="content_string_3 second_img_txt">
                <img src="../static/icons/self.svg" alt="Тема Самооценка и самопринятие">
                <img src="../static/images/2-2.png" alt="Картинка женщина на кровати думает">
                <div class="content_string_3 second_txt">
                    <h1>
                        Как не утонуть в тревоге и управлять своими страхами
                    </h1>
                    <h3>
                        Автор: Екатерина Бельтюкова
                    </h3>
                    <h2>
                        Один из самых важных навыков, которые может дать работа с психотерапевтом - умение в разных ситуациях по-разному обходиться ..."
                    </h2>
                    <h3>
                        11.08.2021
                    </h3>
                </div>
            </div>
            <div class="content_string_3 theird_img_txt">
                <img src="../static/icons/self.svg" alt="Тема Самооценка и самопринятие">
                <img src="../static/images/3-2.png" alt="Картинка злой квадрат">
                <div class="content_string_3 theird_txt">
                    <h1>
                        Как управлять своими эмоциями:8 шагов
                    </h1>
                    <h3>
                        Автор: Екатерина Бельтюкова
                    </h3>
                    <h2>
                        Клиенты часто спрашивают, как КОНТРОЛИРОВАТЬ свои негативные эмоции.
                         Пришло время об этом написать!
                    <h3>
                        07.08.2021
                    </h3>
                </div>
            </div>
        </div>
        <div class="string_3">
            <div class="content_string_3 first_img_txt">
                <img src="../static/icons/self.svg" alt="Тема Самооценка и самопринятие">
                <img src="../static/images/1-3.png" alt="Картинка бабушка за ноутбуком">
                <div class="content_string_3 second_txt">
                    <h1>
                        Эмоциональное выгорание - стадии и симптому, методы восстановления и профилактики
                    </h1>
                    <h3>
                        Автор: Лиза Файнтух под редакцией  Екатерины Бельтюковой
                    </h3>
                    <h2>
                        Изначально термин «эмоциональное я...
                    </h2>
                    <h3>
                        21.09.2021
                    </h3>
                </div>   
            </div>
            <div class="content_string_3 second_img_txt">
                <img src="../static/icons/self.svg" alt="Тема Самооценка и самопринятие">
                <img src="../static/images/2-3.png" alt="Картинка женщина на кровати думает">
                <div class="content_string_3 second_txt">
                    <h1>
                        Как не утонуть в тревоге и управлять своими страхами
                    </h1>
                    <h3>
                        Автор: Екатерина Бельтюкова
                    </h3>
                    <h2>
                        Один из самых важных навыков, которые может дать работа с психотерапевтом 
                        - умение в разных ситуациях по-разному обходиться ..."
                    </h2>
                    <h3>
                        11.08.2021
                    </h3>
                </div>
            </div>
            <div class="content_string_3 theird_img_txt">
                <img src="../static/icons/self.svg" alt="Тема Самооценка и самопринятие">
                <img src="../static/images/3-3.png" alt="Картинка злой квадрат">
                <div class="content_string_3 theird_txt">
                    <h1>
                        Как управлять своими эмоциями:8 шагов
                    </h1>
                    <h3>
                        Автор: Екатерина Бельтюкова
                    </h3>
                    <h2>
                        Клиенты часто спрашивают, как КОНТРОЛИРОВАТЬ свои негативные эмоции.
                         Пришло время об этом написать!
                    <h3>
                        07.08.2021
                    </h3>
                </div>
            </div>
        </div>
        <div class="button_load_more">Еще</div>
    </main>  
    <footer>
        <div class="footer_container">
            <div class="footer_parent_component">
                <div class="first_column_links">
                    <h3>О нас</h3>
                    <h3>Тарифы</h3>
                    <h3>Для бизнеса</h3>
                    <h3>Психологам</h3>
                    <h3>FAQ</h3>
                </div>
                <div class="second_column_links">
                    <h3>Блог</h3>
                    <h3>Вебинары</h3>
                    <h3>Подкаст</h3>
                    <h3>Сертификат</h3>
                    <h3>Контакты</h3>
                </div>
                <div class="email_newsletter_container">
                    <h2>Одно письмо в неделю со свежими новостями и акциями</h2>
                    <div class="email_form">
                        <input class="email_input" type="text" placeholder="Ваш e-mail">
                        <button class="email_submit">
                            <img src="../static/icons/send.svg" alt="Отправить письмо">
                        </button>
                    </div>
                    <h6>Подписываясь, я соглашаюсь на обработку персональных данных в 
                        соответствии с ФЗ РФ № 152-ФЗ «О персональных данных», 
                        а также с Политикой конфиденциальности
                    </h6>
                </div>
                <div class="skolkovo_logo">
                    <div class="logo_and_text">
                        <img src="../static/icons/Frame_1.svg" alt="логотип сколково">
                    </div>
                    <div class="logo_soc">
                        <a href="https://vk.ru/" target="_blank">
                            <img src="../static/icons/VK.svg" alt="VK">
                        </a>
                        <a href="https://tg.com/" target="_blank">    
                            <img src="../static/icons/TG.svg" alt="TG">
                        </a>
                        <a href="https://x.com/" target="_blank">    
                            <img src="../static/icons/X.svg" alt="X">
                        </a>    
                        <a href="https://dzen.ru/" target="_blank">
                            <img src="../static/icons/dzen.svg" alt="dzen">
                        </a>    
                    </div>
                </div>
            </div>
            <div class="other_information">
                <h6>©Youtalk, 2018 – 2022</h6>
                <h6>Юридические документы</h6>
                <h6>Способы оплаты</h6>
            </div>
        </div>
        
    </footer> 
</body>
</html>
