<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>YouTalk</title>
</head>
<body>
    <header>
        <div class="container_header">
            <div class="logo">
                <img src="../static/icons/logo.svg" alt="logo">
            </div>
            <div class="navigation">
                <a class="navigation_item" href="#">О нас</a>
                <a class="navigation_item" href="#">Тарифы</a>
                <a class="navigation_item" href="#">Для бизнеса</a>
                <a class="navigation_item" href="#">Психологам</a>
                <a class="navigation_item" href="#">Сертификат</a>
                <a class="navigation_item" href="#">Материалы
                    <img class="navigation_item_arrow" src="../static/icons/arrow_down.svg" alt="arrow_down">
                </a>
                <a class="navigation_item" href="#">FAQ</a>    
            </div>
            <div class="header_buttons">
        </div>
    </header>
</body>
</html>